{% extends 'gtt/admin/index.html' %}
{% block page_header %}
    Админпанель
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'admin' %}"><i class="fa fa-dashboard"></i> Админпанель</a></li>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <section class="col-lg-12 connectedSortable">
        <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ pars }}</h3>

              <p>парсингов</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'operations' %}" class="small-box-footer">Выполнить <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ analyzes }}</h3>

              <p>анализов</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'operations' %}" class="small-box-footer">Выполнить <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ aggrs }}</h3>

              <p>агрегаций</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'operations' %}" class="small-box-footer">Выполнить <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ ke }}</h3>

              <p>вычислений коэффициента</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'operations' %}" class="small-box-footer">Выполнить <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </section>
    <section class="col-lg-7 connectedSortable">
        <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-circle-o-notch"></i>

              <h3 class="box-title">Операции ресурсов</h3>
              <!-- tools box -->
{#              <div class="pull-right box-tools">#}
{#                <button type="button" class="new_resource btn btn-primary btn-sm btn-flat" data-toggle="tooltip" title="Новый ресурс">#}
{#                  <i class="fa fa-plus"></i></button>#}
{#              </div>#}
              <!-- /. tools -->
            </div>

            <div class="box-body">
              <label>Выполняемые операции</label>
              <ul id="operations" class="nav nav-pills nav-stacked no-padding">
                  {% for task in tasks %}
                      <li class="active">
                          <a style="pointer-events: none;">{{ task.resource.name }} : {{ task.name }} - {{ task.date_start|date:"d.m.Y H:i" }} - {{ task.date_end|date:"d.m.Y H:i" }}</a>
                          <div class="progress">
                              <div id="progress-{{ task.id }}" class="progress-bar progress-bar-light-blue progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">

                              </div>
                          </div>
                      </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="box-footer clearfix">
{#              <button type="button" class="pull-right btn btn-primary btn-flat" id="saveResource">Сохранить</button>#}
            </div>
        </div>
    </section>
    <section class="col-lg-5 connectedSortable">
        <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-line-chart"></i>

              <h3 class="box-title">Количество собранных материалов по годам</h3>
            </div>
            <div class="box-body no-padding">
                <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
            <div class="box-footer clearfix">
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"><!--
        $(document).ready(function () {

            var line_data = [];

            {% for data in vals_by_year %}
                line_data.push({
                    year: "{{ data.year }}",
                    value: {{ data.value }}
                });
            {% endfor %}

            new Morris.Area({
              // ID of the element in which to draw the chart.
              element: 'revenue-chart',
              // Chart data records -- each entry in this array corresponds to a point on
              // the chart.
              data: line_data,
              // The name of the data record attribute that contains x-values.
              xkey: 'year',
              // A list of names of data record attributes that contain y-values.
              ykeys: ['value'],
              // Labels for the ykeys -- will be displayed when you hover over the
              // chart.
              labels: ['кол-во'],
              xLabels: "year",
              fillOpacity: 0.5
{#                eventLineColors: "#fff"#}
            });






            $(".resource_link").on('click', function () {
                $("#operations").slideUp();
                $("#resources_list>li.active").removeClass('active');
                $(this).parent().addClass('active');
                $('#parseResource').data('id', $(this).data('id'));
                $("#newOperation").slideDown();

                var fd = new FormData();
                fd.append('id', $(this).data('id'));
                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                $.ajax({
                    type: "POST",
                    url: "{% url 'tasks_statuses_by_resource' %}",
                    data: fd,
                    dataType: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        if(data==false){
                            notification("Операций по данному ресурсу\nне найдено!", 'danger', 3000);
                            $("#operations").html("");
                        }
                        else{
                            var box = "";
                            var ids = [];
                            for(var key in data){
                                box += '<li class="active">' +
                                    '                          <a style="pointer-events: none;">'+data[key]['resource_name']+' : '+data[key]['name']+' - '+data[key]['date_start']+' - '+data[key]['date_end']+'</a> <div class="progress">' +
                                    '                              <div id="progress-'+data[key]['id']+'" class="progress-bar progress-bar-light-blue progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">' +
                                    '                                  0%' +
                                    '                              </div>' +
                                    '                          </div>' +
                                    '                      </li>';
                                ids.push(data[key]['id']);
                            }
                            $("#operations").html(box);
                            $("#operations").slideDown();

                            var fd = new FormData();
                            fd.append('ids', JSON.stringify(ids));
                            fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                            $.ajax({
                                type: "POST",
                                url: "{% url 'get_tasks_statuses' %}",
                                data: fd,
                                dataType: 'json',
                                cache: false,
                                processData: false,
                                contentType: false,
                                success: function(data){
                                    for(var key in data){
                                        if(data[key]['status'] == 100){
                                            $("#progress-" + data[key]['task']).removeClass('active');
                                            $("#progress-" + data[key]['task']).removeClass('progress-bar-striped');
{#                                            $("#progress-" + data[key]['task']).addClass('progress-bar-success');#}
                                        }
                                        else{
                                            $("#progress-" + data[key]['task']).addClass('active');
                                            $("#progress-" + data[key]['task']).addClass('progress-bar-striped');
{#                                            $("#progress-" + data[key]['task']).removeClass('progress-bar-success');#}
                                        }

                                         $("#progress-" + data[key]['task']).attr('aria-valuenow', data[key]['status']);
                                         $("#progress-" + data[key]['task']).html(""+data[key]['status']+"%");
                                         $("#progress-" + data[key]['task']).animate({width: ""+data[key]['status']+"%"});                            }

                                }
                            });



{#                            for(var key in data['data']){#}
{#                                #}
{#                                if(typeof(data['data'][0][key])!='string'){#}
{#                                    $("input[name='parameters["+key+"]']").each(function (index) {#}
{#                                        $(this).val(data['data'][0][key][index]);#}
{#                                    });#}
{#                                }#}
{#                                else{#}
{#                                    $("textarea[name='parameters["+key+"]']").val(data['data'][0][key]);#}
{#                                }#}
{#                            }#}
{#                            $("input[name='country_css']").val(data['data'][1]);#}
{#                            $("input[name='partner_css']").val(data['data'][2]);#}
{#                            $("input[name='year_css']").val(data['data'][3]);#}
{#                            $("input[name='direction_css']").val(data['data'][4]);#}
{#                            $("input[name='value_css']").val(data['data'][5]);#}
{#                            $("input[name='factor']").val(data['data'][6]);#}
                        }

                    }
                });
            });
            $("#parseResource").on('click', function () {
                var fd = new FormData();
                fd.append('id', $(this).data('id'));
                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                $.ajax({
                    type: "POST",
                    url: "{% url 'parsing' %}",
                    data: fd,
                    dataType: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        if(data==1){
                            notification("Такого ресурса уже не существует!\nОбновите, пожалуйста, страницу!", 'danger', 3000);
                        }
                    }
                });
                notification("Инициирована операция \"Парсинг\"\n для ресурса \""+$("#resources_list>li.active>a").html()+"\"",
                    'warning', 3000);
            });
            $("#analyzeResource").on('click', function () {
                var fd = new FormData();
                fd.append('id', $("#parseResource").data('id'));
                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                $.ajax({
                    type: "POST",
                    url: "{% url 'analyze' %}",
                    data: fd,
                    dataType: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        if(data==1){
                            notification("Такого ресурса уже не существует!\nОбновите, пожалуйста, страницу!", 'danger', 3000);
                        }
                    }
                });
                notification("Инициирована операция \"Анализ ресурса\"\n для ресурса \""+$("#resources_list>li.active>a").html()+"\"",
                    'warning', 3000);
            });
            $("#aggregationResource").on('click', function () {
                var fd = new FormData();
                fd.append('id', $("#parseResource").data('id'));
                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                $.ajax({
                    type: "POST",
                    url: "{% url 'aggregation' %}",
                    data: fd,
                    dataType: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        if(data==1){
                            notification("Такого ресурса уже не существует!\nОбновите, пожалуйста, страницу!", 'danger', 3000);
                        }
                    }
                });
                notification("Инициирована операция \"Агрегация данных\"\n для ресурса \""+$("#resources_list>li.active>a").html()+"\"",
                    'warning', 3000);
            });
            $("#koefevalResource").on('click', function () {
                var fd = new FormData();
                fd.append('id', $("#parseResource").data('id'));
                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                $.ajax({
                    type: "POST",
                    url: "{% url 'koef_eval' %}",
                    data: fd,
                    dataType: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        if(data==1){
                            notification("Такого ресурса уже не существует!\nОбновите, пожалуйста, страницу!", 'danger', 3000);
                        }
                    }
                });
                notification("Инициирована операция \"Расчет коэф.\"\n для ресурса \""+$("#resources_list>li.active>a").html()+"\"",
                    'warning', 3000);
            });

            var ids = [];
            {% for task in tasks %}
                ids.push({{ task.id }});
            {% endfor %}
            var fd = new FormData();
            fd.append('ids', JSON.stringify(ids));
            fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
            $.ajax({
                type: "POST",
                url: "{% url 'get_tasks_statuses' %}",
                data: fd,
                dataType: 'json',
                cache: false,
                processData: false,
                contentType: false,
                success: function(data){
                    for(var key in data){
                        if(data[key]['status'] == 100){
                            $("#progress-" + data[key]['task']).removeClass('active');
                            $("#progress-" + data[key]['task']).removeClass('progress-bar-striped');
{#                            $("#progress-" + data[key]['task']).addClass('progress-bar-success');#}
                        }
                        else{
                            $("#progress-" + data[key]['task']).addClass('active');
                            $("#progress-" + data[key]['task']).addClass('progress-bar-striped');
{#                            $("#progress-" + data[key]['task']).removeClass('progress-bar-success');#}
                        }
                         $("#progress-" + data[key]['task']).attr('aria-valuenow', data[key]['status']);
                         $("#progress-" + data[key]['task']).html(""+data[key]['status']+"%");
                         $("#progress-" + data[key]['task']).animate({width: ""+data[key]['status']+"%"});
                    }

                }
            });


{#            $("#resources_list").on("click", ".dont_delete", function () {#}
{#                $("#resources_list li.bg-danger").removeClass('bg-danger');#}
{#                $(this).parents(".confirm-delete").slideUp(function () {#}
{#                    $(this).remove();#}
{#                });#}
{#            });#}
{#            $("#resources_list").on("click", ".delete_resource", function () {#}
{#                var fd = new FormData();#}
{#                fd.append('id', $(this).val());#}
{#                fd.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());#}
{#                $.ajax({#}
{#                    type: "POST",#}
{#                    url: "{% url 'delete_resource' %}",#}
{#                    data: fd,#}
{#                    dataType: 'json',#}
{#                    cache: false,#}
{#                    processData: false,#}
{#                    contentType: false,#}
{#                    success: function(data){#}
{#                        if(data){#}
{#                            if($("#resources_list li.bg-danger").hasClass('active')){#}
{#                                $(".new_resource").click();#}
{#                            }#}
{#                            $(".confirm-delete").slideUp(function () {#}
{#                                $(this).remove();#}
{#                            });#}
{#                            $("#resources_list li.bg-danger").slideUp(function () {#}
{#                                $(this).remove();#}
{#                            });#}
{#                            notification("Ресурс успешно удален!", 'success', 3000);#}
{#                        }#}
{#                        else{#}
{#                            notification("Такого ресурса уже не существует!\nОбновите, пожалуйста, страницу!", 'danger', 3000);#}
{#                        }#}
{#                    }#}
{#                });#}
{#            });#}
        });
    --></script>
{% endblock %}