{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'gtt/style.css' %}" rel="stylesheet">
    <script src="{% static 'gtt/jquery-3.2.1.min.js' %}"></script>
{#  <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>#}
{#  <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>#}
{#  <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>#}
{#  <script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>#}
{#  <script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>#}
    <script src="{% static 'gtt/raphael.min.js' %}"></script>
    <script src="{% static 'gtt/kartograph.min.js' %}"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>